---
layout: cover
title: felayman个人博客
---

<div class="content">
	<img src="{{ '/styles/img/background.jpg' }}" id="fullscreen">
	<img src="{{ '/styles/img/avatar.jpg' }}" id="avatar">

	<h1>felayman</h1>
	<h3>学以致用，用有所悟，悟有所通</h3>

	<ul class="cover-ul">
		{% if site.github_username %}
		<li><a class="fa fa-2x fa-github" href="https://github.com/{{ site.github_username }}" target="_blank" ><span class="description">GitHub</span></a></li>
		{% endif %}

		{% if site.gitbook_username %}
		<li><a class="fa fa-2x fa-book" href="https://gitbook.io/@{{ site.gitbook_username }}" target="_blank"><span class="description">GitBook</span></a></li>
		{% endif %}

		{% if site.weibo_username %}
		<li><a class="fa fa-2x fa-weibo" href="https://weibo.com/{{ site.weibo_username }}" target="_blank"><span class="description">微博</span></a></li>
		{% endif %}

		{% if site.home_url %}
		<li><a class="fa fa-2x fa-500px" href="https://www.500px.me/{{ site.home_url }} " target="_blank"><span class="description">500px</span></a></li>
		{% endif %}

		{% if site.email %}
		<li><a class="fa fa-2x fa-envelope" href="mailto:{{ site.email }} " target="_blank"><span class="description">Email</span></a></li>
		{% endif %}
	</ul>


	<div class="home">
		<a class="btn_download " href='home/index.html'>进入主页</a>
	</div>


</div>
