---
layout: home
title: felayman个人博客
nav_content: 文章分类
---

<div class="container docs-container">
    <div class="row">
        <!--博客分类,靠categories进行分类-->
        <div class="col-md-3">
            <div class="sidebar hidden-print" role="complementary">
                <div id="navigation">
                    <h1>{{page.nav_content}}</h1>
                    <ul class="nav sidenav">
                        {% if site.categories.first[0] == null %}
                        {% for category in site.categories %}
                        <li><a href="{{ category }}">
                            {{ category | join: "/" }} <span style="color: #999999;" >({{ site.categories[category].size }})</span>
                        </a></li>
                        {% endfor %}
                        {% else %}
                        {% for category in site.categories %}
                        <li><a href="{{ category[0] }}">
                            {{ category[0] | join: "/" }} <span style="color: #999999;" >({{ category[1].size }})</span>
                        </a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-9" role="main">
            <div class="docs-content">
                <div class="wrapper">
                    <div class="home">
                        {% for category in site.categories %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>