---
layout: home
title: felayman个人博客
---

<div class="container">
    <header class="clearfix">
    </header>
    <div class="main">
        <ul class="cbp_tmtimeline">
            {% for post in paginator.posts %}
            <li>
                <time class="cbp_tmtime " datetime="{{'%Y-%m-%d %H:%M'}}">
                    <span>{{post.date | date: '%Y-%m-%d %H:%M' }} </span>
                    <span class=""></span>
                </time>
                {% if post.tag contains  '原创' %}
                <div class="cbp_tmicon cbp_tmicon-phone "></div>
                {%endif%}
                {% if post.tag contains  '翻译' %}
                <div class="cbp_tmicon cbp_tmicon-phone-1 "></div>
                {%endif%}
                <div class="cbp_tmlabel ">
                    <h2><a class="anchor-target-small"  href="{{post.url}}">{{post.title}}</a></h2>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pagination   text-center center-block">
        {% if paginator.previous_page ==1  %}
            <a href="/home/" class="previous fa fa-caret-left">上一页</a>
        {% elsif paginator.previous_page  %}
            <a href="/home/page{{ paginator.previous_page }}" class="previous fa fa-caret-left"> &nbsp;上一页</a>
        {% endif %}
            <span class="page_number ">&nbsp;&nbsp;当前页: {{ paginator.page }}  / {{ paginator.total_pages }}&nbsp;&nbsp;</span>
        {% if paginator.next_page %}
            <a href="/home/page{{ paginator.next_page }}" class="next fa fa-caret-right">下一页</a>
        {% endif %}
    </div>
</div>



