---
layout: home
title: felayman个人博客
---

<div class="container">
    <header class="clearfix">
    </header>
    <div class="main">
        <ul class="cbp_tmtimeline">
            {% for post in site.posts %}
            {% if post.categories[0] == 'spring' %}
            <li>
                <time class="cbp_tmtime" datetime="{{'%Y-%m-%d %H:%M'}}">
                    <span>{{post.date | date: '%Y-%m-%d %H:%M' }} </span>
                    <span></span>
                </time>
                <div class="cbp_tmicon cbp_tmicon-phone"></div>
                <div class="cbp_tmlabel">
                    <h4><a href="{{post.url}}">{{post.title}}</a></h4>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>