<head>
    <meta charset=UTF-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <link rel="shortcut icon" href="{{ '/styles/images/favicon.jpg' | prepend: site.baseurl }}">
    <link rel="icon" href="{{ '/styles/images/favicon.jpg' | prepend: site.baseurl }}">
    <title>{{page.title}}</title>
    <link rel=stylesheet href="{{'styles/css/style.css'}}">
    <!--[if IE 6]>
    <script type="text/javascript" src="http://static.webgame.kanimg.com/com/DD_PNG_min.js"></script>
    <script type="text/javascript">
        var links=document.getElementsByTagName("a");
        for(var i=0,l=links.length;i<l;i++){
            links[i].setAttribute("hideFocus",true);
        }
    </script>
    <![endif]-->
</head>