<!DOCTYPE html>
<html>
{% include post/head.html %}
{% include home/header.html %}
<div class="cb-search-tool" style="position: fixed; top: 0px ; bottom: 0px; left: 0px; right:  0px;
      opacity: 0.95; background-color: #111111; z-index: 9999; display: none;">
    <input type="text" class="form-control cb-search-content" id="cb-search-content" style="position: fixed; top: 60px" placeholder="请输入文章标题搜索相关文章" >
    <div style="position: fixed; top: 16px; right: 16px;">
        <img src="/search/img/cb-close.png"  id="cb-close-btn"/>
    </div>
</div>
<body class="index">
<div class="container">
        <div class="row">
        <div class="col-md-12" role="main">
                <div class="panel docs-content">
                    <div class="wrapper">
                        <header class="post-header">
                            <h2 class="post-title text-center" >{{page.title}}</h2>
                            <hr>
                             <div class="meta">
                                <p>{{page.date | date: '%Y-%m-%d' }} | 分类: <a href="/categories/{{page.categories}}">{{page.categories}}</a> | 标签:  {% assign tags = page.tag | split: " " %}
                                    {% for tag in tags %}
                                    <a href="/tag/{{ tag }}">{{ tag }} </a>
                                    {% endfor %} | 作者: <a href="/">{{site.author}}</a>
                                </p>
                                 <div class="share-div">
                                        <p class="share-p">分享到 : </p>
                                        <p>
                                             <div class="bdsharebuttonbox">
                                                 <a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_mshare" data-cmd="mshare" title="分享到一键分享"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a><a href="#" class="bds_evernotecn" data-cmd="evernotecn" title="分享到印象笔记"></a><a href="#" class="bds_youdao" data-cmd="youdao" title="分享到有道云笔记"></a>
                                            </div>
                                        </p>
                                 </div>
                                 <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                                 </div>
                            <hr>
                            <article class="post-content">
                                {{ content }}
                            </article>
                        </header>
                        <hr>
                        <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
                        <script>
                            var cloudTieConfig = {
                                url: document.location.href,
                                sourceId: "",
                                productKey: "8cbc9f43ff834901beb8d674c0a15e32",
                                target: "cloud-tie-wrapper"
                            };
                        </script>
                        <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
                    </div>

                </div>
            </div>
    </div>
</div>
</div>
{% include home/footer.html %}
</body>
</html>
