<!DOCTYPE html>
<html>
{% include post/head.html %}
{% include home/header.html %}
<body class="index">
<div class="container">

    <div class="row">
            <div class="col-md-12" role="main">

                <div class="panel docs-content">

                    <div class="wrapper">
                        <header class="post-header">
                            <h2 class="post-title text-center" >{{page.title}}</h2>
                            <hr>
                            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                             <div class="meta">
                                <p>发表时间 :{{page.date | date: '%Y-%m-%d %H:%M'}}</p>
                                <p>作者: {{site.author}}</p>
                                <p>分类: <a href="/categories/{{page.categories}}">{{page.categories}}</a></p>
                                <p>标签:
                                    {% assign tags = page.tag | split: " " %}
                                    {% for tag in tags %}
                                    <a href="/tag/{{ tag }}">{{ tag }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                            <hr>
                            <article class="post-content">
                                {{ content }}
                            </article>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="cyReward" role="cylabs" data-use="reward" sid="{{page.sid}}" class="cyReward"></div>
<!--PC和WAP自适应版-->
<div id="SOHUCS" sid="{{page.sid}}" ></div>
<script type="text/javascript">
    (function(){
        var appid = 'cyrTc3dGy';
        var conf = 'prod_22ff317ea4a26264c208f1cf889b1bef';
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width < 960) {
            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
<script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cyrTc3dGy"></script>
{% include home/footer.html %}
</body>
</html>
