<!DOCTYPE html>
<html>
{% include post/head.html %}
{% include home/header.html %}
<body class="index">
    <div class="container">
        <div class="row">
            <div class="col-md-12" role="main">
                <div class="panel docs-content">
                    <div class="wrapper">
                        <header class="post-header">
                            <h2 class="post-title text-center" >{{page.title}}</h2>
                            <hr>
                            <div class="meta">
                                <p>发表时间 :{{page.date | date: '%Y-%m-%d %H:%M'}}</p>
                                <p>作者: {{site.author}}</p>
                                <p>分类: <a href="/categories/{{page.categories}}">{{page.categories}}</a></p>
                                <p>标签:
                                    {% assign tags = page.tag | split: " " %}
                                    {% for tag in tags %}
                                    <a href="/tag/{{ tag }}">{{ tag }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                            <hr>
                            <article class="post-content">
                                {{ content }}
                            </article>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include home/footer.html %}
</body>
</html>
