<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="/home/index.html" class="navbar-brand">
                <img src="{{ '/styles/img/favicon.png' | prepend: site.baseurl }}">
            </a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                {% for category in site.categories %}
                <li>
                    <a href="{{ category[0] | prepend: '/categories/' }}">
                        {{ category[0] }} <span style="color: #480d1c;" ></span>
                    </a></li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/felayman" target="_blank"><strong>Github</strong></a>
                </li>
                <li ">
                    <a href="/gallery/" class="dropdown-toggle" data-toggle="dropdown" target="_blank">相册<b class="active"></b></a>
                </li>
                <li >
                    <a href="/about.html" class="dropdown-toggle" data-toggle="dropdown">关于<b class="active"></b></a>
                </li>
            </ul>
        </nav>
    </div>
</header>