<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.meta_description}}">
    <meta name="toTop" content="true">
    <meta name="keywords" content="{{ page.title | append: ', ' | append: site.name | append: ', ' | append: site.meta_description}}">
    <title>{{page.title}}</title>
    <link rel="shortcut icon" href="{{ '/styles/img/favicon.png' | prepend: site.baseurl }}">
    <link rel="icon" href="{{ '/styles/img/favicon.png' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/styles/css/index.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/styles/css/syntax.css' | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ '/feed.xml' | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{'/styles/css/default.css' | prepend: site.baseurl}}" />
    <link rel="stylesheet" type="text/css" href="{{'/styles/css/component.css' | prepend: site.baseurl}}" />
    <script src="{{ '/styles/js/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/styles/js/modernizr.custom.js' | prepend: site.baseurl }}"></script>
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    

</head>